<#@ template language="C#" #>
<# var enumName = $"{Quest.Name}QuestState"; #>

public class <#= Quest.Name #> : SectorQuestComponent<<#= enumName #>>
{
	public <#= Quest.Name #>()
		: base(<#= enumName #>.<#= Quest.FinalState.Name #>)
	{}
}